{{#if user}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Ecommerce - Coder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <!-- Otros elementos del nav -->

        <!-- Menú desplegable para usuario -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i> <span>{{user.email}}</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/api/logout">Cerrar sesión</a></li>
          </ul>
        </li>

        <!-- Icono del carro -->
        <li class="nav-item cartIcon">
          <div class="cart-icon">
            <a class="nav-link" id="cartLink" href="/cart"><i class="fas fa-shopping-cart"></i></a>
            {{#if countItems}}
            <span class="cart-count">{{countItems}}</span>
            {{/if}}
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>
{{/if}}
